// @use '../base/' as *;
// body {
//   // font-family: $ff-primary-karla;
//   font-size: 1rem;
//   min-height: 100vh;
// }
@use '../abstracts' as *;

body {
  background-color: #ffffff;
  font-size: 1rem;
  min-height: 97vh;
  width: 100%;
  font-family: 'Roboto', serif;
  // @include media-query(large) {
  //   display: grid;
  //   align-items: flex-start;
  //   justify-content: center;
  // }
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: flex-start;

}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.custom-logo {
  height: 4rem;
  width: 5rem;
}


