// @use '../abstracts/' as *;
// @use '../base/' as *;

// .footer {
//   background: $clr-neutral-light-gray;
//   padding: 4rem 1rem 1rem 1rem;
//   background-image: url('/images/bg-pattern-footer-mobile.svg');
//   background-repeat: no-repeat;
//   margin: 8rem 0 0 0;
//   @include media-query(large) {
//     padding: 0;
//     width: 100%;
//   }
//   &-main-container {
//     @include media-query(large) {
//       max-width: 80rem;
//       margin: 8rem auto 0;
//     }
//   }
//   &__top-container {
//     @include media-query(large) {
//       display: flex;
//       align-items: center;
//       padding: 0;
//       justify-content: space-between;
//     }
//   }

//   &__logo {
//     margin: 0 auto;
//     @include media-query(large) {
//       margin: 0;
//     }
//     &-container {
//       width: 100%;
//       display: flex;
//     }
//   }
//   &__social-media {
//     display: flex;
//     flex-direction: row;
//     padding: 3rem 0;
//     width: 100%;
//     justify-content: center;
//     @include media-query(large) {
//       justify-content: flex-end;
//     }
//   }
//   &__social-media-icon {
//     color: $clr-neutral-grayish-violet;
//     padding: 0 0.5rem;
//     &:hover{

//     }
//   }
//   &__links {
//     text-transform: uppercase;
//     text-align: center;
//     border-top: 1px solid $clr-neutral-grayish-violet;
//     padding: 3rem 0 0 0;
//     @include media-query(large) {
//       display: flex;
//       justify-content: space-between;
//       padding-right: 8rem;
//     }
//     & h4 {
//       color: $clr-primary-grayish-blue;
//       padding: 1rem 0;
//     }

//     & ul {
//       list-style: none;
//       margin: 0;
//       padding: 1rem 0;

//       & li {
//         display: block;
//         padding: 0.3rem 0;
//       }
//     }

//     & ul li a {
//       text-decoration: none;
//       font-weight: 700;
//     }
//   }
// }

// .attribution {
//   font-size: 11px;
//   text-align: center;
// }
// .attribution a {
//   color: hsl(228, 45%, 44%);
// }
footer {
  min-height: 3rem;
  text-align: center;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 242, 242);
}
